
<h2>At the beginning GOD created superadmin</h2>
<%= "<div style='color: red;'>#{flash[:error]}</div>".html_safe if flash[:error] %>
<%= form_tag action: 'create', method: :put do %>
<table>
  <tr>
    <td>Superadmin username:</td>
    <td><%=  text_field(nil, 'username') %>
  </tr><tr>  
    <td>Superadmin password:</td>
    <td><%=  password_field(nil, 'password1') %>
  </tr><tr>  
    <td>Repeat password:</td>
    <td><%=  password_field(nil, 'password2') %>
  </tr><tr>  
    <td><%= submit_tag %></td>
  </tr>
</table>
<% end %>