<div id="cmsedit-div">
  <button class="cms-toggle mode-<%= session[:edit_mode] %>" title="<%= t('drgcms.toggle_cms')%>">CMS</button>
  <% # = link_to('CMS', controller: 'dc_common', action: 'toggle_edit_mode', return_to: request.url) %>
  <% if session[:edit_mode] > 1 %>
    <div class="cmsedit-table cmsedit-top">
      <div id="menu">

        <% if @page %>
          <%= link_to( fa_icon('description-o', class: "dc-animate", title: "#{t('drgcms.edit_page')}"),
              {controller: 'cmsedit', action: 'edit', table: @site.page_class, id: @page._id}, target: 'iframe_cms') %>
        <% end %>

        <% if @design %>
          <%= link_to( fa_icon('web', class: "dc-animate", title: "#{t('drgcms.edit_design')}"),
              {controller: 'cmsedit', action: 'edit', table: 'dc_design', id: @design._id}, target: 'iframe_cms') %>
        <% end %>

        <% if @site %>
          <%= link_to( fa_icon('public', class: "dc-animate", title: "#{t('drgcms.edit_site')}"),
              {controller: 'cmsedit', action: 'edit', table: 'dc_site', id: @site._id}, target: 'iframe_cms') %>
        <% end %>
        <b>&nbsp; | &nbsp; </b>
        
        <%= link_to( fa_icon('compress', class: "dc-animate", title: t('drgcms.minimize')), '#',
            onclick: "$('#iframe_cms').height(1); return false;" ) %>

        <%= link_to( fa_icon('expand', class: "dc-animate", title: t('drgcms.maximize')), '#',
            onclick: "$('#iframe_cms').height( $('#iframe_cms').height() + 500);; return false;")  %>

        <%= link_to( fa_icon('refresh', class: "dc-animate", title: t('drgcms.reload')), '#',
            onclick: "document.location.reload(true); return false;")  %>
        <b>&nbsp; | &nbsp; </b>

        <%= link_to( fa_icon('content_paste-o', title: t('drgcms.doc_paste_title')),
            {controller: 'dc_common', action: 'paste_clipboard'}, target: 'iframe_cms') %>

        <%= DrgcmsFormFields::Elfinder.file_manager_url(self) %>

      </div>
    </div>

    <div id="menu-hamburger"><%= fa_icon('bars') %></div>

    <div class="cmsedit-container">
      <div id="menu">
        <%= dc_choices4_cmsmenu.html_safe %>
      </div>

      <div class="cmsedit-iframe" style="width: 99%;">
        <iframe id="iframe_cms" name="iframe_cms"></iframe>
      </div>

      <div style="clear: both;"></div>    
    </div>

  
  <% end %>
</div>
