
<div class="dc-table-frame">

  <%= dc_table_title_for_result @records %>

  <% unless @records.nil? %>
      <%= dc_background_for_result(:start) %>
  
      <%= dc_header_for_result %>
      <% for document in @records %>
        <%= dc_row_for_result(document) %>
        <%= dc_actions_for_result(document) %>
        <%= dc_columns_for_result(document) %>
        </div>
      <% end %>
      <% if @record_footer %>
        <div class="dc-result-data footer">
        <%= ignore, code = dc_actions_column(); code.html_safe %></div>
        <%= dc_columns_for_result(@record_footer) %>
        </div>
      <% end %>
        
      <%= dc_background_for_result(:end) %>
  <% end %>
  
</div>
