
<div class="dc-table-frame">

  <%= dc_table_title_for_result @records %>

  <% unless @records.nil? %>
      <%= dc_background_for_result %>
      <tr><%= dc_header_for_result %></tr>

      <% for document in @records %>
        <%= dc_row_for_result(document) %>
        <%= dc_actions_for_result(document) %>
        <%= dc_columns_for_result(document) %>
        </tr>
      <% end %>
        
    </table>
  </div>
  <% end %>
  
</div>
