
<div class="dc-table-frame">

  <%= dc_table_title_for_result @records %>

  <% unless @records.nil? %>
    <table class="dc-result">
      <tr><%= dc_header_for_result %></tr>

      <% for r in @records %>
        <tr class="dc-<%= cycle("odd","even")%>" 
            data="<%= url_for(action: 'show', controller: 'cmsedit', id: r, 
                      readonly: (params[:readonly] ? 2 : 1), table: params[:table],
                      formname: params[:formname], ids: params[:ids]) if @form['form']%>" >
          <%= dc_actions_for_result r %>
          <%= dc_columns_for_result r %>
        </tr>
      <% end %>
        
    </table>
  <% end %>
  
</div>
