<div class="dc-form-frame">
  <%= dc_title_for_index @records %>

  <%= dc_actions_for_index %>
  <%= dc_div_filter %>
  <%= dc_flash_messages %> 
  <div id='result'> <%= render partial: 'result' %></div>
</div>

<%= javascript_tag(@js) unless @js.blank? %>
<% unless @css.blank? %><style type="text/css"><%= @css %></style><% end %>
<div id="popup" style="display: none;"></div>
