<% dc_form_update %>

<div <%= dc_form_id %> <%= dc_form_class('dc-form-frame') %> >
  <%= dc_title_for_index @records %>

  <%= dc_actions_for_index %>
  <%= dc_div_filter %>
  <%= dc_flash_messages %> 
  <div id="result"> <%= render partial: 'result' %></div>
</div>

<%= javascript_tag(@js) unless @js.blank? %>
<% unless @css.blank? %><style><%= @css %></style><% end %>
<div id="popup" style="display: none;"></div>
