<% if session[:edit_mode] and session[:edit_mode] > 0 %>
  <%= render partial: 'edit_stuff' %>
<% else %>
  <div id="dc-login">
    <h2><%= t('drgcms.login') %></h2>
    <%= dc_flash_messages %>   
    <%= form_tag controller: 'dc_common', action: 'process_login', return_to: '/drg/login?ok=1', method: :put do %>
      <div class="label"><%= t('drgcms.username') %></div>
      <div class="input"><%= text_field('record', 'username') %></div>

      <div class="label"><%= t('drgcms.password') %></div>
      <div class="input"><%= password_field('record', 'password') %></div>
      
      <div class="label"></div>
      <div class="input"><%= submit_tag t('drgcms.login'), class: 'dc-submit' %></div>
      <%= hidden_field_tag('return_to_error', request.url ) %>
    <% end %>
  </div>
<% end %>