<% if session[:edit_mode] and session[:edit_mode] > 0 %>
  <%= render partial: 'edit_stuff' %>
<% else %>
  <h2>CMS login</h2>
  <%= dc_flash_messages %>   
  <%= form_tag controller: 'dc_common', action: 'process_login', return_to: '/cmsedit/login?ok=1', method: :put do %>
    <table>
      <tr>
        <td>Username:</td>
        <td><%=  text_field('record', 'username') %>
      </tr><tr>  
        <td>Password:</td>
        <td><%=  password_field('record', 'password') %>
      </tr><tr>  
        <td><%= submit_tag 'Login' %></td>
      </tr>
    </table>
    <%= hidden_field_tag('return_to_error', request.url ) %>
  <% end %>
<% end %>