<!DOCTYPE html>
<html>
  <head>  
  <title><%= @page_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag "cms", media: 'all' %>
  <style type="text/css" media="all"><%= "#{@site.css}#{@design.css}\n#{@page.css}".html_safe if @page %></style>
  <%= @site.header.html_safe if @site %>
  <%= javascript_include_tag "cms" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>
