<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag "cms", media: 'all' %>
  <style type="text/css" media="all"><%= "#{@site.css}#{@design.css if @design}\n#{@page.css if @page}".html_safe  %></style>
  <%= @site.header.html_safe if @site %>
  <%= javascript_include_tag "cms" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
