<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag "application", media: 'all' %>
  <style media="all"><%= "#{@site.css if @site}#{@design.css if @design}\n#{@page.css if @page}".html_safe %></style>
  <%= @site.header.html_safe %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>
